vendor
*.swp
*.gor
*.rpm
*.dep
*.deb
*.pkg
*.exe
*.pprof
*.out
hey

*.bin
lib/
output/
*.gz
*.zip
.aider*

*.class

*.test
.idea
*.iml
gor

*.mprof

*.pcap

.DS_Store

goreplay
corpus
crashers
suppressions
dist
